@model SimpleAccountManager.Core.Entity.User
@{
    ViewBag.Title = "Evolution";
}
@section HtmlHead{
    @Html.Partial("HeadScripts")
}

<h2>
    Delete</h2>
@if (null == Model)
{
    <h3>The user was not found </h3>
}
else
{
    <h3>
        Are you sure you want to delete this user @Model.Username ?</h3>
    <fieldset>
        <legend>User</legend>
        <div class="display-label">
            Comment</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Comment)
        </div>
        <div class="display-label">
            CreationDate</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.CreationDate)
        </div>
        <div class="display-label">
            Email</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Email)
        </div>
        <div class="display-label">
            IsApproved</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.IsApproved)
        </div>
        <div class="display-label">
            IsLockedOut</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.IsLockedOut)
        </div>
        <div class="display-label">
            IsOnline</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.IsOnline)
        </div>
        <div class="display-label">
            LastActivityDate</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.LastActivityDate)
        </div>
        <div class="display-label">
            LastLockoutDate</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.LastLockoutDate)
        </div>
        <div class="display-label">
            LastLoginDate</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.LastLoginDate)
        </div>
        <div class="display-label">
            LastPasswordChangedDate</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.LastPasswordChangedDate)
        </div>
        <div class="display-label">
            PasswordQuestion</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.PasswordQuestion)
        </div>
        <div class="display-label">
            Username</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Username)
        </div>
    </fieldset>
    using (Html.BeginForm("Delete", "Authentication", new { id = Model.Username }, FormMethod.Post))
    {
    <p>
        <input type="submit" value="Delete" class="modern" />
        |
        @Html.ActionLink("Back to List", "Index")
    </p>
    }

}
